<div class ="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class ="btn-toolbar mr-2" role="group" aria-label="First group">

    <%= link_to "index",organizations_path, method: :get,
                  class: "btn btn-secondary", style: "margin-right: 15px"%>
  </div>
</div>