<div class ="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class ="btn-toolbar mr-2" role="group" aria-label="First group">

    <%= button_to 'Create post', new_organization_post_path, method: :get,
                  class: "btn btn-secondary", style: "margin-right: 15px"%>
  </div>
</div>