<!--</br>-->
<!--</br>-->
<!--<h4><%#=@organizations.name %></h4>-->
<!--<table class="table table-hover table-dark">-->
<!--  <thread>-->
<!--    <tr>-->
<!--      <th scope="col">Users</th>-->
<!--      <th scope="col">Text</th>-->
<!--      <th scope="col">Status</th>-->
<!--      <th scope="col"></th>-->
<!--    </tr>-->
<!--  </thread>-->
  <%#- @posts.each do |post|%>
<!--    <tbody>-->
<!--    <th scope="col"><%#= form_with  do |form| %>-->
        <%#= form.collection_select :@user , @user.order(:name),:id,:name %>
      <%# end %>
<!--    </th>-->
<!--    <th scope="col">-->
      <%#= text_field_tag :text_post,post.text_post %>
<!--    </th>-->
<!--    <th scope="col">-->
      <%#= text_field_tag :status,post.status %>
<!--    </th>-->
<!--    <th scope="col"><%#= submit_tag "Save",class:"btn btn-large btn-primary" %></th>-->

<!--    </tbody>-->
  <%# end %>
<!--</table>-->