<h4><%= %></h4>

<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    Name: <%=  %>
  </li>
  <li class="list-group-item list-group-item-dark">
    Post: <%="gg" %>
  </li>
</ul>
<br/>