</br>
</br>
<h4><%= @organization.name.upcase %></h4>

<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    Price: <%=  %>
  </li>
  <li class="list-group-item list-group-item-dark">
    Weight: <%= %>
  </li>

</ul>